<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitialUserPages</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>7D4FAC87-1A6A-43AE-9DF5-A64C03A69FF7.playgroundpage</string>
		<string>FA6E6C6A-1F6D-475A-A03E-2BEEE7D2BFD1.playgroundpage</string>
	</array>
	<key>Name</key>
	<string>My Playground</string>
	<key>TemplatePageFilename</key>
	<string>Template.playgroundpage</string>
</dict>
</plist>
